*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    margin: 0px;
    background-color: #E8F3FC;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.calculator{
    background: #333;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    margin: 10px;

}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .displayinput{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 105px;

}
form input.operator{
    color:yellow;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
}
nav.logo{
    width: 80px;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke:2px #fff;
    color: transparent;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding:14px 70px;
    border-radius: 50px;
    margin-top: 50px;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    font-weight:400;
    padding-left: 40px;
}
main{
    margin-top: 50px ;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.career{
    overflow: hidden;
    width: 350px;
    height: 100px;
    background-color: #FFFFFF;
    box-shadow: #E8F3FC;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.career:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.careerbox{
    padding: 50px;
    margin-left: 50px;
    width: 40%;
    height: 75vh;
    top: 50px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px #000000;
    overflow-y: scroll;
}
.search-box{
    box-shadow: 0px 0px 4px #000000;
    width: 600px;
    background:#fff;
    margin: 20px auto 0;
    border-radius: 5px;
}
.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}
button{
    background: transparent;
    border: 0;
    outline: 0;
}
button .fa-solid{
    width: 25px;
    color: #555;
    font-size: 22px;
    cursor: pointer;
}
::placeholder{
    color: #555;
}
.result-box{
    max-height: 300px;
    overflow-y: scroll;
}
.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}
.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}
.result-box ul li:hover{
    background-color: #e9f3ff;
}
.career-list{
    padding-top: 40px;
    float: left;
    list-style-type: none;
    font-size: 150%;
}
.money{
    overflow: hidden;
    height: 100px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out; 
}
.money-list{
    padding-top: 40px;
    float: right;
    list-style-type: none;
    font-size: 150%;
   
}
.h1-pay{
    padding-top: 10px;
    font-size: 300%;
    font-weight:400;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pay{
    text-align: center;
    padding-top: 40px;
}
.careerbox2{
    overflow-y: scroll;
    padding: 20px;
    width: 40%;
    height: 75vh;
    margin-right: 50px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 10px #000000;
}
.tax-container{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
   padding-top: 50px;
}
.tax-list{
    list-style: none;
}
.federal-taxes{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 150%;
}
.federal-taxes-input{
    width: 20%;
    height: 4vh;
}
.state-taxes{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 150%;
}
.state-taxes-input{
    width: 20%;
    height: 4vh;
}
.social-security{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 150%;
}
.social-security-input{
    width: 20%;
    height: 4vh;
}
.medicare{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 150%;
}
.medicare-input{
    width: 20%;
    height: 4vh;
}
.state-disability{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size:150%;
}
.state-disability-input{
    width: 20%;
    height: 4vh;
}
.retirement-investment{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 150%;
}
.retirement-investment-input{
    width: 20%;
    height: 4vh;
}
.medicare-insurance{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 150%;
}
.medicare-insurance-input{
    width: 20%;
    height: 4vh;
}
.total-deductions{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 150%;
}
.total-deductions-input{
    width: 20%;
    height: 4vh;
}
.gross-income{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 150%;
}
.gross-income-input{
    width: 20%;
    height: 4vh;
}
.net-income{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 150%;
}
.net-income-input{
    width: 20%;
    height: 4vh;
}
.check-book{
    box-sizing: border-box;
    padding: 10px;
    font-size: 300%;
    font-weight:400;
    padding-bottom: 20px;
}
.table-section{
    margin: 0 auto;
    padding: 20px;
    width:85%;
    background-color:#FFFFFF;
    box-shadow: 0px 1px 10px #000000;
}
table{
    background-color: black;
    width: 100%;
    font-size: 150%;
}
td{
    text-align: center;
}
table tr{
    background-color: white;
}
table td input{
    background: none;
     width: 300px;
 }
.rightSpace{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    margin-top: 100px;
    width: 100%;
    padding: 100px 15%;
    background: #333;
    color: #efefee;
    display: flex;
}
.footer div{
    text-align: center;
}
.col-2{
    flex-grow: 2;
}
.footer div h3{
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.col-1 a{
    font-size: 20px;
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}
form input{
    background-color: #efefef;
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
}
.social-icons{
    margin-top: 30px;
}
.social-icons i{
    font-size: 50px;
    margin: 10px;
    cursor: pointer;
}
.col-3 p{
    font-size: 25px;
}